body {
  margin: 0;
  padding: 0;
  
}

/* Layout */
.dashboard-container {
  display: flex;
  min-height: 100vh;
}

/* Sidebar */
.sidebar-nav {
  width: 250px;
  background-color: #375572;
  color: #ecf0f1;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

.sidebar-nav .logo {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding: 15px 0;
  color: #fff;
  border-bottom: 1px solid #34495e;
  margin-bottom: 10px;
}

.sidebar-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
}

.sidebar-nav li a {
  display: block;
  padding: 15px 20px;
  color: #ecf0f1;
  text-decoration: none;
  transition: background-color 0.3s;
}

.sidebar-nav li a:hover {
  background-color: #7b99b6;
}

/* Keep logout at bottom */
.logout-item {
  margin-top: auto;
}

/* Content */
.content {
  flex-grow: 1;
  padding: 20px;
  color: #2c3e50;
}

h2 {
  color: #2c3e50;
  margin-bottom: 15px;
}
