*{
    padding: 0;
    margin:0;
    text-decoration: none;
    list-style: none;
    box-sizing: content-box;
}

nav .logo {
    color: rgb(94, 178, 180);
    font-size: 30px;
    font-weight: bold;
    position:absolute;
    left: 30px;
    
}

nav{
    background:linear-gradient(to right, #8bc9d0d2, #6db7bd5d, #555b9be8);;
    height: 100px;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content:space-between ;
    padding: 10 20px;
    }

nav ul{
    display: flex;
    position:absolute;
    left: 150px;
    gap: 250px;
}



nav ul li a{
color:rgb(73, 70, 123);
font-size: 20px;
padding: 7px 10px;


}

a.active, a:hover{
    background: rgb(172, 173, 222);
    transition: 0.5s;
   
}

li.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top:100%;
  left: 0;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}
.search {
    background: rgb(225, 215, 215);
    height: 80px;
    width: 100%;
    border-bottom: 1px solid black;
}


.search input[type="text"] {    
    padding: 8px 12px;
    border: 1px solid ;
    border-radius: 10px;
    font-size: 15px;
    outline:none;
    width: 500px;
    position: absolute;
    left: 200px;
    top: 20px;

    }